<h1> Homework of Software Engineering</h1>
<p><%=  @message  %></p>
<br><a href="http://www.ucas.edu.cn/">UCAS</a><br>

<p>Time: <%=  @timenow  %></p>
<p><%=  link_to 'BYE',greetings_bye_path  %></p>

